<nav class="bg-white relative z-50">
  <div class="mx-auto max-w-5xl px-2 py-3 lg:px-8 md:px-8 lg:flex lg:justify-center">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Botón para el menú móvil -->
      <div class="relative inset-y-0 mx-2 flex items-center lg:hidden">
        <button (click)="toggleMenu()"
          class="inline-flex items-center justify-center p-2 rounded-lg text-blueColor hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-expanded="false">
          <span class="sr-only">Abrir menú principal</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true" [ngClass]="{'block': !isMenuOpen, 'hidden': isMenuOpen}">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true" [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Logo de Casa Odontológica -->
      <div class="mx-auto lg:mx-0">
        <a href="/inicio">
          <img class="h-11 w-auto hidden lg:block" src=".././assets/images/logos_co/logo_CO.png"
            alt="Casa Odontológica">
          <img class="h-11 w-auto block lg:hidden" src=".././assets/images/logos_co/logo_CO.png"
            alt="Casa Odontológica">
        </a>
      </div>

      <!-- Menú principal (pantallas grandes) -->
      <div class="hidden lg:block lg:ml-7">
        <div class="flex space-x-4">
          <a href="/productos" class="relative text-blueColor px-3 py-2 text-base font-semibold transition duration-300 ease-in-out
             hover:text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0
             after:h-[2px] after:bg-blueColor after:transition-all after:duration-300 hover:after:w-full">
            Productos
          </a>
          <a href="/nosotros" class="relative text-blueColor px-3 py-2 text-base font-semibold transition duration-300 ease-in-out
             hover:text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0
             after:h-[2px] after:bg-blueColor after:transition-all after:duration-300 hover:after:w-full">
            Nosotros
          </a>
          <a href="/sedes" class="relative text-blueColor px-3 py-2 text-base font-semibold transition duration-300 ease-in-out
             hover:text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0
             after:h-[2px] after:bg-blueColor after:transition-all after:duration-300 hover:after:w-full">
            Sedes
          </a>
          <a href="/eventos" class="relative text-blueColor px-3 py-2 text-base font-semibold transition duration-300 ease-in-out
             hover:text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0
             after:h-[2px] after:bg-blueColor after:transition-all after:duration-300 hover:after:w-full">
            Eventos
          </a>
          <a href="/ayuda-pqr" class="relative text-blueColor px-3 py-2 text-base font-semibold transition duration-300 ease-in-out
             hover:text-black whitespace-nowrap after:content-[''] after:absolute after:left-0 after:bottom-0
             after:w-0 after:h-[2px] after:bg-blueColor after:transition-all after:duration-300 hover:after:w-full">
            Ayuda / PQR
          </a>
        </div>
      </div>


      <!-- Barra de búsqueda (solo visible en pantallas grandes) -->
      <div *ngIf="showSearchBar" class="hidden lg:block flex-1 items-center justify-center lg:items-stretch lg:justify-end">
        <div class="relative w-5/6 mx-4">
          <input id="search" name="search"
            class="block justify-center pl-10 py-1 border rounded-lg leading-5 bg-gray-50 placeholder-gray-400 focus:outline-none focus:bg-white focus:ring-1 focus:ring-slate-500 focus:border-slate-500 lg:text-base"
            placeholder="Buscar..." type="search" (keydown)="onSearch($event)">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div>
      </div>


      <!-- Iconos de carrito y perfil -->
      <div class="mx-4 flex items-center">

        <button (click)="toggleCart()" class="relative p-1 text-blueColor hover:text-gray-800">
          <span class="sr-only">Carrito</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
        </button>

        <!-- Cart menu -->
        <app-cart [isOpen]="isCartOpen"></app-cart>


      </div>
    </div>
  </div>

  <!-- Overlay oscuro cuando el menú esté abierto -->
  <div *ngIf="isMenuOpen" class="fixed inset-0 bg-black opacity-50 z-40 transition-opacity duration-300 ease-out"></div>

  <!-- Menú móvil -->
  <div *ngIf="isMenuOpen"
    class="fixed inset-y-0 left-0 w-64 bg-white z-50 transform transition-transform duration-300 ease-out"
    [ngClass]="{'-translate-x-full': !isMenuOpen, 'translate-x-0': isMenuOpen} ">

    <div class="mx-4">
      <!-- Botón para cerrar el menú móvil (icono de 'X') -->
      <button (click)="toggleMenu()"
        class="p-2 my-4 rounded-lginline-flex items-center justify-center rounded-lg text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <!-- Barra de búsqueda dentro del menú móvil -->
      <div *ngIf="showSearchBar" class="lg:hidden relative w-11/12 mr-10 ml-2 mb-4">
        <input id="search" name="search"
          class="block w-full pl-10 py-1.5 border rounded-lg leading-5 bg-gray-50 placeholder-gray-400 focus:outline-none focus:bg-white focus:ring-1 focus:ring-slate-500 focus:border-slate-500 text-base"
          placeholder="Buscar..." type="search" (keydown)="onSearch($event)">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </div>
      </div>


      <!-- Opciones del menú móvil -->
      <a href="/productos"
        class="block px-3 py-2 rounded-lg text-base font-medium text-gray-500 hover:bg-gray-300">Productos</a>
      <a href="/nosotros"
        class="block px-3 py-2 rounded-lg text-base font-medium text-gray-500 hover:bg-gray-300">Nosotros</a>
      <a href="/sedes"
        class="block px-3 py-2 rounded-lg text-base font-medium text-gray-500 hover:bg-gray-300">Sedes</a>
      <a href="/eventos"
        class="block px-3 py-2 rounded-lg text-base font-medium text-gray-500 hover:bg-gray-300">Eventos</a>
      <a href="/ayuda-pqr"
        class="block px-3 py-2 rounded-lg text-base font-medium text-gray-500 hover:bg-gray-300">Ayuda / PQR</a>

    </div>
  </div>

</nav>
