<hr>

<body class="bg-gray-50 py-5">
  <div class="container mx-auto px-6 lg:px-12">
    <!-- Título principal -->
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-5">Sobre Nosotros</h1>

    <!-- Sección con tarjetas animadas -->
    <div class="grid gap-8 lg:grid-cols-3">
      <!-- Tarjeta Misión -->
      <div
        class="group relative bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
        <img src=".././assets/images/about/mision.jpg" alt="Imagen Misión" class="w-full h-48 object-cover">
        <div class="p-6">
          <h2 class="text-xl font-semibold text-gray-700 group-hover:text-yellowColor transition-colors">Nuestra Misión
          </h2>
          <p class="text-gray-600 mt-4">Empresa caucana enfocada en importar y comercializar productos de salud,
            comprometida con la innovación, calidad y mejora continua para contribuir al bienestar y progreso de la
            comunidad.</p>
        </div>
      </div>

      <!-- Tarjeta Valores -->
      <div
        class="group relative bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
        <img src=".././assets/images/about/valores.jpg" alt="Imagen Valores" class="w-full h-48 object-cover">
        <div class="p-6">
          <h2 class="text-xl font-semibold text-gray-700 group-hover:text-yellowColor transition-colors">Nuestros
            Valores</h2>
          <p class="text-gray-600 mt-4">Respeto: Tratamos a las personas como queremos ser tratados.
            <br>
            Honestidad: Actuamos con integridad, transparencia y veracidad.
            <br>Lealtad: Fomentamos la confianza y el compañerismo.
            <br>Gratitud: Valoramos las oportunidades y relaciones que nos enriquecen.
          </p>
        </div>
      </div>

      <!-- Tarjeta Visión -->
      <div
        class="group relative bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
        <img src=".././assets/images/about/vision.jpg" alt="Imagen Visión" class="w-full h-48 object-cover">
        <div class="p-6">
          <h2 class="text-xl font-semibold text-gray-700 group-hover:text-yellowColor transition-colors">Nuestra Visión
          </h2>
          <p class="text-gray-600 mt-4">Ser líderes en la distribución de insumos de salud a nivel nacional,
            consolidándonos con marcas propias e importadas bajo altos estándares de calidad, cumplimiento y
            responsabilidad.</p>
        </div>
      </div>

    </div>

    <!-- Sección Historia -->
    <div class="mt-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Nuestra Historia</h2>
      <div class="flex flex-col lg:flex-row items-center gap-8">
        <img src=".././assets/images/about/historia.png" alt="Nuestra Historia"
          class="rounded-lg shadow-lg w-full lg:w-1/2 object-contain transition-transform duration-300 ease-in-out hover:scale-105 hover:opacity-90" />

        <div class="relative lg:w-1/2">
          <!-- Contenedor animado -->
          <div class="text-gray-600 leading-relaxed text-lg overflow-hidden transition-all duration-500 ease-in-out"
            [ngClass]="{ 'max-h-[1000px]': showFullText, 'max-h-[5rem]': !showFullText }">
            <p>
              Casa Odontológica nació en el mes de junio del año 1998, cuando la
              señora Gina Peniche y su esposo Ramón Giraldo tomaron la decisión de
              vender su único patrimonio, un automóvil, para invertir en la compra
              de un negocio odontológico ubicado en sus inicios en el centro
              comercial Rodrival del centro de la ciudad de Popayán. Sus principales
              clientes eran centros de salud, consultorios odontológicos,
              laboratoristas y estudiantes de diferentes universidades. Con el paso
              de los años, la empresa creció significativamente, convirtiéndose en
              un distribuidor mayorista de insumos odontológicos a nivel local,
              departamental y nacional. En el año 2010 debido al crecimiento en
              ventas y la necesidad de un espacio grande para el almacenamiento de
              los diferentes insumos, la empresa se trasladó al barrio Santa Clara,
              una moderna sede que cuenta con amplias instalaciones se ponen al
              servicio de los profesionales de la salud, Así mismo generando
              empleos, progreso, impuestos para la ciudad de Popayán.
            </p>
          </div>
          <!-- Botón para leer más -->
          <button class="mt-4 text-blue-500 hover:underline" (click)="toggleText()">
            {{ showFullText ? 'Leer menos' : 'Leer más' }}
          </button>
        </div>
      </div>
    </div>




    <!-- Sección Datos de la Empresa -->
    <div class="my-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center" data-aos="fade-up">Datos Destacados</h2>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <div class="bg-white p-6 rounded-lg shadow-lg text-center" data-aos="fade-up" data-aos-delay="100">
          +<h3 id="experience" class="text-4xl font-bold text-yellowColor">26+</h3>
          <p class="text-gray-600 mt-2">Años de experiencia</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg text-center" data-aos="fade-up" data-aos-delay="200">
          +<h3 id="clients" class="text-4xl font-bold text-yellowColor">10,000+</h3>
          <p class="text-gray-600 mt-2">Clientes satisfechos</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg text-center" data-aos="fade-up" data-aos-delay="100">
          +<h3 id="products" class="text-4xl font-bold text-yellowColor">500+</h3>
          <p class="text-gray-600 mt-2">Productos en catálogo</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg text-center" data-aos="fade-up" data-aos-delay="100">
          +<h3 id="friends" class="text-4xl font-bold text-yellowColor">30+</h3>
          <p class="text-gray-600 mt-2">Colaboradores expertos</p>
        </div>
      </div>
    </div>

    <!-- Nueva Sección de Marcas Propias -->
    <div class="mt-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Nuestras Marcas</h2>
      <div class="flex flex-wrap justify-center gap-8">
        <!-- Tarjeta Marca -->
        <div
          class="group relative bg-white rounded-lg shadow-lg p-6 w-64 text-center transition-transform transform hover:scale-105">
          <img src=".././assets/images/brands/gospa.png" alt="Marca 1" class="mx-auto mb-4 w-24 h-24 object-contain">
          <h3 class="text-xl font-bold text-gray-700 group-hover:text-yellowColor transition-colors">Gospa</h3>
          <p class="text-gray-600 mt-2">Productos de alta calidad</p>
        </div>
        <div
          class="group relative bg-white rounded-lg shadow-lg p-6 w-64 text-center transition-transform transform hover:scale-105">
          <img src=".././assets/images/brands/3m.png" alt="Marca 2" class="mx-auto mb-4 w-24 h-24 object-contain">
          <h3 class="text-xl font-bold text-gray-700 group-hover:text-yellowColor transition-colors">3M</h3>
          <p class="text-gray-600 mt-2">Innovación y excelencia</p>
        </div>
        <div
          class="group relative bg-white rounded-lg shadow-lg p-6 w-64 text-center transition-transform transform hover:scale-105">
          <img src=".././assets/images/brands/densell.png" alt="Marca 3" class="mx-auto mb-4 w-24 h-24 object-contain">
          <h3 class="text-xl font-bold text-gray-700 group-hover:text-yellowColor transition-colors">Densell</h3>
          <p class="text-gray-600 mt-2">Confianza garantizada</p>
        </div>
      </div>
    </div>

  </div>
</body>
