
<div class="w-full space-y-12 mb-12">
    <hr>
    <!-- Sección 1 -->
    <div class="flex flex-col md:flex-row items-center md:items-center">
      <div class="md:w-1/2 text-center md:text-left lg:pl-36 xl:pl-48 px-10">
        <h2 class="text-3xl font-bold uppercase text-blueColor">Como empresa</h2>
        <p class="mt-5 text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vero illo tempora libero doloribus eveniet, non omnis natus odit id nam maiores. Magnam voluptatum beatae pariatur minima nesciunt deleniti aspernatur  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vero illo tempora libero doloribus eveniet, non omnis natus odit id nam maiores. Magnam v</p>
      </div>
      <div  class="md:w-1/2 mt-4 md:mt-0 lg:pr-36 px-16 xl:pr-48">
        <img src="https://picsum.photos/300/249" alt="Imagen 1" class="w-full h-auto rounded-lg">
      </div>
    </div>

    <!-- Sección 2 -->
    <div class="flex flex-col md:flex-row-reverse items-center md:items-center">
      <div class="md:w-1/2 text-center md:text-right lg:pr-36 xl:pr-48 px-10">
        <h2 class="text-3xl font-bold uppercase text-yellowColor">Misión</h2>
        <p class="mt-5 text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ut necessitatibus neque fuga fugiat consectetur sapiente omnis ipsam similique obcaecati consequatur asperiores veritatis vitae, sit ipsum quae eaque accusantium explicabo? Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vero illo tempora libero doloribus eveniet, non omnis natus odit id nam maiores. Magnam </p>
      </div>
      <div class="md:w-1/2 mt-4 md:mt-0 lg:pl-36 px-16 xl:pl-48">
        <img src="https://picsum.photos/300/250" alt="Imagen 2" class="w-full h-auto rounded-lg">
      </div>
    </div>

    <!-- Sección 3 -->
    <div class="flex flex-col md:flex-row items-center md:items-center">
      <div class="md:w-1/2 text-center md:text-left lg:pl-36 xl:pl-48 px-10">
        <h2 class="text-3xl font-bold uppercase text-blueColor">Visión</h2>
        <p class="mt-5 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium ratione aperiam in inventore quos, accusantium dignissimos omnis vero ex culpa exercitationem dolorum aspernatur voluptatibus delectus, reprehenderit sunt a ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vero illo tempora libero doloribus eveniet, non omnis natus odit id nam maiores. Magnam </p>
      </div>
      <div class="md:w-1/2 mt-4 md:mt-0 lg:pr-36 px-16 xl:pr-48">
        <img src="https://picsum.photos/300/251" alt="Imagen 3" class="w-full h-auto rounded-lg">
      </div>
    </div>

    <!-- Sección 4 -->
    <div class="flex flex-col md:flex-row-reverse items-center md:items-center">
      <div class="md:w-1/2 text-center md:text-right lg:pr-36 xl:pr-48 px-10">
        <h2 class="text-3xl font-bold uppercase text-yellowColor">Como empezo todo</h2>
        <p class="mt-5 text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum assumenda eum earum? Enim facere nesciunt officiis dignissimos necessitatibus neque adipisci unde, distinctio veniam laudantium vero itaque sed suscipit ullam harum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vero illo tempora libero doloribus eveniet, non omnis natus odit id nam maiores. Magnam </p>
      </div>
      <div class="md:w-1/2 mt-4 md:mt-0 lg:pl-36 px-16 xl:pl-48">
        <img src="https://picsum.photos/301/250" alt="Imagen 4" class="w-full h-auto rounded-lg">
      </div>
    </div>
  </div>
