<div class="text-start" data-aos="fade-up">
  <div class="container mx-auto px-4 pb-12">
    <hr class="mb-8">
    <!-- Título -->
    <h2 class="text-3xl font-bold uppercase mb-6 text-center text-black">Nuestros felices clientes</h2>

    <!-- Contenedor de las opiniones -->
    <div class="relative mx-12">
      <!-- Contenedor de las opiniones (flex) -->
      <div class="overflow-hidden mb-5">
        <div class="flex transition-transform duration-500 ease-in-out transform"
          [ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)'}">
          <!-- Cuadro 1 -->
          <div class="flex-none w-full lg:w-1/3 p-4">
            <div class="bg-white p-6 rounded-lg shadow-md border h-full">
              <div class="flex items-center mb-4">
                <!-- Estrellas (usa iconos o SVGs) -->
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>

              </div>
              <h3 class="text-xl font-bold mb-2">Juan Pérez</h3>
              <p class="text-gray-600">"Una experiencia excelente, el servicio fue impecable y los productos de gran
                calidad."</p>
            </div>
          </div>

          <!-- Cuadro 2 -->
          <div class="flex-none w-full lg:w-1/3 p-4">
            <div class="bg-white p-6 rounded-lg shadow-md border h-full">
              <div class="flex items-center mb-4">
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
              </div>
              <h3 class="text-xl font-bold mb-2">Ana Gómez</h3>
              <p class="text-gray-600">"Muy satisfecho con mi compra, recomiendo este sitio sin dudar."</p>
            </div>
          </div>

          <!-- Cuadro 3 -->
          <div class="flex-none w-full lg:w-1/3 p-4">
            <div class="bg-white p-6 rounded-lg shadow-md border h-full">
              <div class="flex items-center mb-4">
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 17.27l5.18 3.04-1.64-6.03 4.64-4.09-6.14-.52L12 2 9.96 9.67l-6.14.52 4.64 4.09-1.64 6.03L12 17.27z" />
                </svg>
              </div>
              <h3 class="text-xl font-bold mb-2">Carlos Rodríguez</h3>
              <p class="text-gray-600">"¡Increíble! Recibí mi pedido rápidamente y en perfectas condiciones."</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de navegación (visibles solo en pantallas pequeñas) -->
      <button (click)="prev()"
        class="absolute button-1 transform -translate-y-1/2 sm:left-44 left-10 md:left-64 bg-gray-300 text-black px-3 py-1.5 font-extrabold  rounded-full hover:bg-gray-500 lg:hidden">
        < </button>
          <button (click)="next()"
            class="absolute button-1 transform -translate-y-1/2 sm:right-44 right-10 md:right-64 bg-gray-300 text-black px-3 py-1.5 font-extrabold rounded-full hover:bg-gray-500 lg:hidden">
            >
          </button>
    </div>
  </div>
</div>
