<div class="pb-8 text-center" data-aos="fade-up">
  <div class="container mx-auto px-4 py-2 overflow-hidden">
    <hr class="mb-8">
    <!-- Texto principal -->
    <h2 class="text-3xl font-bold uppercase mb-8 text-center text-black">Categorías</h2>

    <!-- Contenedor de categorías con diseño responsivo -->
    <div class="px-14 lg:px-60">
      <!-- Contenedor flexible que se ajusta a una fila en pantallas grandes y a dos filas en pantallas pequeñas -->
      <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
        <!-- Categoría 1 -->
        <a href="/productos">
          <div class="flex items-center justify-center">
            <div
              class="w-full h-32 bg-white border border-gray-300 flex flex-col items-center justify-center rounded-lg transition-all duration-300 hover:bg-blueColor hover:text-white group">
              <img src=".././assets/images/categories/braces.png" alt="Brackets"
                class="w-14 h-10 object-contain group-hover:invert" />
              <p class="mt-4 text-lg font-semibold text-black group-hover:text-white">Ortodoncia</p>
            </div>
          </div>
        </a>

        <!-- Categoría 2 -->
        <a href="/productos">
          <div class="flex items-center justify-center">
            <div
              class="w-full h-32 bg-white border border-gray-300 flex flex-col items-center justify-center rounded-lg transition-all duration-300 hover:bg-blueColor hover:text-white group">
              <img src=".././assets/images/categories/restaurativo.png" alt="Alambres"
                class="w-10 h-10 object-contain group-hover:invert" />
              <p class="mt-4 text-lg font-semibold text-black group-hover:text-white">Restaurativos</p>
            </div>
          </div>
        </a>

        <!-- Categoría 3 -->
        <a href="/productos">
          <div class="flex items-center justify-center">
            <div
              class="w-full h-32 bg-white border border-gray-300 flex flex-col items-center justify-center rounded-lg transition-all duration-300 hover:bg-blueColor hover:text-white group">
              <img src=".././assets/images/categories/equipos.png" alt="Ligaduras"
                class="w-10 h-10 object-contain group-hover:invert" />
              <p class="mt-4 text-lg font-semibold text-black group-hover:text-white">Equipos</p>
            </div>
          </div>
        </a>

        <!-- Categoría 4 -->
        <a href="/productos">
          <div class="flex items-center justify-center">
            <div
              class="w-full h-32 bg-white border border-gray-300 flex flex-col items-center justify-center rounded-lg transition-all duration-300 hover:bg-blueColor hover:text-white group">
              <img src=".././assets/images/categories/materiales.png" alt="Herramientas"
                class="w-10 h-10 object-contain group-hover:invert" />
              <p class="mt-4 text-lg font-semibold text-black group-hover:text-white">Materiales</p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
