<hr>
<div class="p-6 bg-white max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-blueColor md:text-start text-center">PREGUNTAS FRECUENTES</h1>

  <div class="mb-8">
    <h2 class="text-2xl font-semibold mb-2">Servicio al cliente</h2>
    <p class="text-gray-800">Estamos aquí para ayudarte. Nuestro horario de atención es de lunes a viernes, de 8:00 a.m. a 5:00 p.m., y los sábados de 9:00 a.m. a 1:00 p.m. No dudes en contactarnos durante estos horarios para resolver cualquier duda o consulta que tengas.</p>
    <hr class="mt-4">
  </div>

  <div class="mb-8">
    <h2 class="text-2xl font-semibold mb-2">¿A cuánto ascienden los gastos de envío?</h2>
    <p class="text-gray-800">Los gastos de envío varían según la ubicación de entrega. El costo exacto se calculará en el proceso de pago, basado en tu dirección. Sin embargo, si tu compra supera los $250.000, el envío es completamente gratis, sin importar a dónde se envíe tu pedido.</p>
    <hr class="mt-4">
  </div>

  <div class="mb-8">
    <h2 class="text-2xl font-semibold mb-2">¿Cuánto tardará en llegar mi pedido?</h2>
    <p class="text-gray-800">El tiempo de entrega depende de la ubicación de destino. Normalmente, los pedidos se procesan y se envían dentro de 1 a 2 días hábiles. Una vez enviado, el pedido puede tardar entre 3 y 7 días hábiles en llegar a su destino, dependiendo de la región.</p>
    <hr class="mt-4">
  </div>

  <div class="mb-8">
    <h2 class="text-2xl font-semibold mb-2">¿Qué tengo que hacer si recibí un producto diferente a lo que ordené?</h2>
    <p class="text-gray-800">Si recibiste un producto diferente al que ordenaste, lamentamos el inconveniente. Por favor, ponte en contacto con nuestro equipo de Atención al Cliente dentro de las 48 horas posteriores a la recepción del pedido. Estaremos encantados de ayudarte a resolver el problema, ya sea coordinando un reemplazo rápido o gestionando la devolución del artículo incorrecto.</p>
    <hr class="mt-4">
  </div>
</div>
