<!-- LightWidget WIDGET -->
<div class="w-full mx-auto px-4">
  <hr class="mb-6">


  <div class="flex mb-2 items-center space-x-2 cursor-pointer group">
    <!-- Ícono de Instagram -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
      class="w-6 h-6 text-gray-700 group-hover:bg-gradient-to-r group-hover:bg-clip-border transition-all duration-300">
      <path d="M7.5 2h9A5.5 5.5 0 0 1 22 7.5v9a5.5 5.5 0 0 1-5.5 5.5h-9A5.5 5.5 0 0 1 2 16.5v-9A5.5 5.5 0 0 1 7.5 2zm0 2A3.5 3.5 0 0 0 4 7.5v9A3.5 3.5 0 0 0 7.5 20h9a3.5 3.5 0 0 0 3.5-3.5v-9A3.5 3.5 0 0 0 16.5 4h-9zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm6-.75a.75.75 0 1 1 0 1.5.75.75 0 0 1 0-1.5zM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6z" />
    </svg>
    <!-- Texto y enlace -->
    <a href="https://www.instagram.com/casaodontologica_/" target="_blank"
      class="text-lg font-semibold text-gray-700 group-hover:text-transparent group-hover:bg-gradient-to-r group-hover:from-pink-500 group-hover:via-purple-500 group-hover:to-yellow-500 group-hover:bg-clip-text transition-all duration-300">
      Casa Odontológica
    </a>
  </div>



  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="//lightwidget.com/widgets/7c1579f3f1a053b8b4cbf1e55dd714e3.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget w-full sm:h-[200px] md:h-[170px] lg:h-[250px] xl:h-[300px] 2xl:h-[380px]"
    style="border:0; overflow:hidden;">
  </iframe>
</div>


